@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default blue focus outlines on inputs in Safari/Chrome */
input:focus, select:focus, textarea:focus {
  outline: none;
}